<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-signin-client_id" content="902318137691-p3tn2spff84hubfrrdc3eep08g97rb8o.apps.googleusercontent.com">

	<!-- bootstap html and css elemets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--links my css page -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!--Allows me to use JQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Allows me to use Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

	<!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Connects to Google authentication -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    

	<title>eColosseum</title>
</head>
<body>

	{{{ body }}}

</body>
</html>
